<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid menu">
      <a class="navbar-brand" href="#">
        <img src="assets/img/tobias.jpg" alt="" width="30" height="24">
        <strong>Tobias</strong> Organizador
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
  
  <div class="container corpo">
    <div class="row">
      <div class="col-lg-6 col-md-12 esquerdo">
        <div class="titulo">Bem-Vindo ao Tobias Organizador</div>
        <div class="texto">O Tobias é um sistema de gestão de processos Judiciais que tem como objetivo principal revigorar a agilidade do trabalho para os servidores públicos, proporcionando um sistema eficiente de gerenciamento de processos judiciais. Através dessa aplicação, os usuários, que podem ser procuradores ou assessores, poderão realizar o login e ter acesso às funcionalidades disponíveis.
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-success cadastro" (click)="openModal(login)">Entrar</button>
          <button type="button" class="btn btn-success cadastro" (click)="openModal(cadastro)">Cadastrar</button>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="right-div">
          <img src="assets/img/login.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <ng-template #login>
    <div class="modal-header">
      <h4 class="modal-title" style="padding-left: 15px;">Login</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding: 30px;">
      <form [formGroup]="formulario" (ngSubmit)="logar()">
        <div class="form-group mb-3">
          <label for="exampleFormControlInput1" class="form-label">Usuário</label>
          <input type="text" class="form-control" formControlName="usuario" id="user">
        </div>
        <div class="form-group mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
          <input type="password" formControlName="senha" class="form-control" aria-labelledby="passwordHelpBlock">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-success">Entrar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #cadastro>
    <div class="modal-header">
      <h4 class="modal-title" style="padding-left: 15px;">Cadastro</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding: 30px;">
      <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
        <div class="form-group mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nome</label>
          <input type="text" class="form-control" formControlName="nome">
        </div>
        <div class="form-group mb-3">
          <label for="exampleFormControlInput1" class="form-label">Usuário</label>
          <input type="text" class="form-control" formControlName="usuario">
        </div>
        <div class="form-group mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
          <input type="password" class="form-control" formControlName="senha" aria-labelledby="passwordHelpBlock">
        </div>
        <div class="form-group mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Cargo</label>
          <select class="form-select" formControlName="cargo" aria-label="Default select example">
              <option selected>Escolha seu cargo</option>
              <option value="1">Assessor</option>
              <option value="2">Procurador</option>
            </select>
        </div>
        <div class="mb-3" style="padding-top: 10px;">
          <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
      </form>
    </div>
  </ng-template>

