.login {
    padding-top: 15px;
}

.menu{
    padding: 0px 30px;
}

.cadastro { 
  padding: 10px 20px;  
}

.corpo{
    padding-top: 8%;
}

.titulo{
    font-size: 50px; 
    font-weight: bold; 
    padding-bottom: 30px;
}

.texto{
    font-size: 18px; 
    text-align: justify;
    padding-bottom: 30px;
}

.esquerdo{
    padding: 2%;
}