<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row cardProcess">
      <div class="card flex-fill w-auto p-3">
        <div class="card-body d-flex flex-column">
          <div class="row">
            <div class="col-10">
              <h5 class="card-title titulo">Processos Judiciais</h5>
            </div>
            <div class="col-2 text-end">
              <a [routerLink]="['/cadProcessos', this.parametro,0]" class="btn btn-secondary">Adicionar</a>
            </div>
          </div>
          <table class="table table-striped flex-fill" *ngIf="todosProceJud">
            <thead>
              <tr>
                <th class="col-2">Número</th>
                <th class="col-8">Processo</th>
                <th class="col-1 text-center">Editar</th>
                <th class="col-1 text-center">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todoProceJud of todosProceJud">
                <td class="col-2">{{todoProceJud.nProcesso}}</td>
                <td class="col-8">{{todoProceJud.nomeDoProcesso}}</td>
                <td class="col-1 text-center">
                  <i class="fas fa-edit iconEdit" [routerLink]="['/cadProcessos', this.parametro,todoProceJud.id]"></i>
                </td>
                <td class="col-1 text-center">
                  <i class="fas fa-trash-alt iconApaga" (click)="exibirConfirmacao(todoProceJud.id,modalExcluir)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalExcluir>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Prosseguir com a exclusão?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Não</button>
      <button type="button" class="btn btn-outline-danger" (click)="excluir(processoId)">Sim</button>
    </div>
  </ng-template>
  